.ticket-card(class=`ticket-card--${color}`)
  .ticket-card__img
    img(src=`img/${picture}` srcset=`img/${pictureX2} 2x` alt='Изображение товара')
  .ticket-card__info
    span.ticket-card__label #{type}
    .ticket-card__categories
      a(href=categoryHref) #{category}
    .ticket-card__header
      h3.ticket-card__title
        a(href=`/offers/${id}`) #{title}
      p.ticket-card__price
        span.js-sum #{cost}
        |  &#x20BD;
    .ticket-card__desc
      p #{description}
