extends layout.pug

block prepend header
  -var isLogged = false

block content
  main.page-content
    section.categories-list
      h1.visually-hidden &Scy;&iecy;&rcy;&vcy;&icy;&scy; &ocy;&bcy;&hardcy;&yacy;&vcy;&lcy;&iecy;&ncy;&icy;&jcy; &quot;&Kcy;&ucy;&pcy;&lcy;&yucy; - &pcy;&rcy;&ocy;&dcy;&acy;&mcy;&quot;
      ul.categories-list__wrapper
        each category in categories
          li.categories-list__item
            a.category-tile.category-tile--default(href=category.href)
              span.category-tile__image
                img(src=`img/${category.img}.jpg` srcset=`img/${category.img}@2x.jpg 2x` alt='Иконка категории')
              span.category-tile__label #{category.name} 
                span.category-tile__qty.js-qty #{category.offerCount}

    -var ariaTitle = "Самые новые предложения"
    -var title = "Самое свежее"
    -var more = false
    -var newOfferButton = false
    -var tickets = latestOffers
    -var cardType = 'DEFAULT'
    include includes/ticket-list.pug

    -var ariaTitle = "Самые обсуждаемые предложения"
    -var title = "Самые обсуждаемые"
    -var more = false
    -var newOfferButton = false
    -var tickets = popularOffers
    -var cardType = 'DEFAULT'
    include includes/ticket-list.pug
