extends layout.pug

block prepend header
  -var isLogged = false

block content
  main.page-content
    section.categories-list
      h1.visually-hidden &Scy;&iecy;&rcy;&vcy;&icy;&scy; &ocy;&bcy;&hardcy;&yacy;&vcy;&lcy;&iecy;&ncy;&icy;&jcy; &quot;&Kcy;&ucy;&pcy;&lcy;&yucy; - &pcy;&rcy;&ocy;&dcy;&acy;&mcy;&quot;
      ul.categories-list__wrapper
        each category in categories
          li.categories-list__item
            a.category-tile.category-tile--default(href=category.href)
              span.category-tile__image
                img(src=`img/${category.img}.jpg` srcset=`img/${category.img}@2x.jpg 2x` alt='Иконка категории')
              span.category-tile__label #{category.name} 
                span.category-tile__qty.js-qty #{category.offerCount}
    section.tickets-list
      h2.visually-hidden &Scy;&acy;&mcy;&ycy;&iecy; &ncy;&ocy;&vcy;&ycy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title &Scy;&acy;&mcy;&ocy;&iecy; &scy;&vcy;&iecy;&zhcy;&iecy;&iecy;
        ul
          each ticket in latestOffers
            li.tickets-list__item
              -var id = ticket.id
              -var title = ticket.title
              -var cost = ticket.sum
              -var description = ticket.description
              -var categories = ticket.categories
              -var type = ticket.typeName
              -var picture = ticket.picture
              -var pictureX2 = ticket.pictureX2
              -var color = ticket.cardColor
              -var cardType = 'DEFAULT'
              include includes/ticket-card.pug
    section.tickets-list
      h2.visually-hidden &Scy;&acy;&mcy;&ycy;&iecy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&mcy;&ycy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title &Scy;&acy;&mcy;&ycy;&iecy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&mcy;&ycy;&iecy;
        ul
          each ticket in popularOffers
            li.tickets-list__item
              -var id = ticket.id
              -var title = ticket.title
              -var cost = ticket.sum
              -var description = ticket.description
              -var categories = ticket.categories
              -var type = ticket.typeName
              -var picture = ticket.picture
              -var pictureX2 = ticket.pictureX2
              -var color = ticket.cardColor
              -var cardType = 'DEFAULT'
              include includes/ticket-card.pug
